
.gridpane{
    -fx-alignment: center;    
    -fx-hgap: 5px;
    -fx-vgap: 10px;
    -fx-background-color: #A2D4AB;
    
}

.hBox{
    -fx-spacing: 30px;
    -fx-alignment: CENTER;
}

.bottompadding{
    -fx-padding: 0 0 15 0;
}

.button{
    -fx-color: #fff;
    -fx-background-color: #6496c8;
    -fx-border: none;
}

.button:hover{
    -fx-background-color: #346392;  
}

.button:active{
    -fx-background-color: #27496d;
}

.buttonWidth{
    -fx-max-width: 80px;
    -fx-min-width: 80px;
}


.text-field{
    -fx-font-size: 16px;
    -fx-left-padding: 15px;
    -fx-background: #fff;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-color: #e74c3c;
    -fx-outline: none;
}

.text-field:focused{
    -fx-border: solid 1px #707070;
}

.label{
    -fx-font-family:Lato,Helvetica,sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.date-picker-popup {
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
    -fx-background-color: white;
}

.nextButton{
    -fx-graphic: url("../images/Next.png");
    -fx-background-color: #A2D4AB;
}

.previousButton{
    -fx-graphic:url("../images/Previous.png");
    -fx-background-color: #A2D4AB;
}

.nextPrev{
    -fx-spacing: 290px;
}